<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>393633194087-31bvavakks3qjblsqja2env7bq3nutik.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.393633194087-31bvavakks3qjblsqja2env7bq3nutik</string>
	<key>API_KEY</key>
	<string>AIzaSyBxze4ryKx__09YIjzGF-iwBnxUS6L29Uc</string>
	<key>GCM_SENDER_ID</key>
	<string>393633194087</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.Unichat</string>
	<key>PROJECT_ID</key>
	<string>unichat-35f13</string>
	<key>STORAGE_BUCKET</key>
	<string>unichat-35f13.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:393633194087:ios:f00173228aca15df</string>
	<key>DATABASE_URL</key>
	<string>https://unichat-35f13.firebaseio.com</string>
</dict>
</plist>